# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
/.idea
/out
/.idea_modules

target
tmp
.history
dist
/.classpath
/.project
/RUNNING_PID
/.settings

